@model OnlineShop.Models.UserAccount
<h3>Редактирование пользователя</h3>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id"/>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
    </div>
    <div>
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>