@model Product
<form method="post">
    <div>
        <h3>Изменение продукта</h3>
    </div>
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    <input type="hidden" name="Id" value="@Model?.Id"/>
    <div class="row">
        <div class="col-6">
            <label asp-for="Name"></label><br/>
            <input class="form-control" asp-for="Name" value="@Model?.Name"/>
            <span asp-validation-for="Name"/>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label asp-for="Description"></label><br />
            <input class="form-control" asp-for="Description" value="@Model?.Description" />
            <span asp-validation-for="Name" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label asp-for="Cost"></label><br />
            <input class="form-control" asp-for="Cost" value="@Model?.Cost" />
            <span asp-validation-for="Cost" />
        </div>
    </div>
  
    <div>
        <button type="submit" asp-controller="Admin" asp-action="EditProduct">Обновить</button>
    </div>
</form>

