@model UserDeliveryInfo
<form method="post">
<div class="row text-center">
        <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    <div class="col">
            <div class="col-6">
                <label asp-for="Name">Введите ФИО</label><br />
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" />
            </div>

            <div class="col-6">
                <label asp-for="Address">Введите адрес доставки</label><br />
                <input class="form-control" asp-for="Address" />
                <span asp-validation-for="Address" />
            </div>

            <div class="col-6">
                <label asp-for="Phone">Введите телефон</label><br />
                <input class="form-control" asp-for="Phone" />
                <span asp-validation-for="Phone" />
            </div>
      
        <br />
        <button class="btn btn-success type="submit" asp-controller="Order" asp-action="Buy">Оформить заказ</button>
        
    </div>
</div>
</form>