<div class="row text-center">
    <div class="col">
        <label>Введите ФИО</label>
        <div>
            <input type="text" />
        </div>
        
        <label>Введите адрес доставки</label>
        <div>
            <input type="text" />
        </div>
        <label>Введите телефон</label>
        <div>
            <input type="text" />
        </div>
        <br />
        <a class="btn btn-success" href="/order/buy" role="button">Оформить заказ</a>
    </div>
</div>